<ion-router-outlet id="main"></ion-router-outlet>

<ion-header>
  <ion-toolbar color="orange-duoc">
    <ion-title class="title-header">Puntos de Interés</ion-title>
    <ion-buttons slot="start">
      <ion-button href="/" class="boton-menu-grande">
        <ion-icon name="home-outline" class="iconConf"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="PuntosDeInteresHorizontal" *ngFor="let puntoInteres of filtroPuntoInteres">
    
    <!-- Imagen del punto de interés -->
    <section class="ImagenPuntoInteres">
      <ng-container *ngIf="puntoInteres.ruta_imagen; else noImage">
        <img [src]="puntoInteres.ruta_imagen" alt="Imagen del punto de interés" class="FotoPuntoInteres">
      </ng-container>
    
      <!-- Si no hay imagen, muestra un icono de Feather (puedes ajustar el icono) -->
      <ng-template #noImage>
        <i data-feather="image" class="FotoPuntoInteres"></i>  <!-- Aquí puedes poner un icono predeterminado -->
      </ng-template>
    </section>

    <!-- Detalles del punto de interés -->
    <section class="PuntosDeInteresVertical">
      <h1 class="NombrePuntoInteres">
        {{ puntoInteres.titulo }}
      </h1>
      <h4 class="DescripcionPuntoInteres">
        {{ puntoInteres.descripcion }}
      </h4>
    </section>
  </section>

</ion-content>
