<ion-header>
    <ion-toolbar color="orange-duoc">
        <ion-title class="title-header">Calendario</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="calendario" class="boton-menu-grande"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Mostrar evento solo si existe el título -->
    <ion-card class="eventCard" *ngIf="event.titulo">
        <ion-card-header class="ion-text-center">
            <ion-card-title>{{ event.titulo }}</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
            <p>{{ event.descripcion }}</p>

            <!-- Mostrar imagen si está disponible -->
            <img class="card-image" *ngIf="event.ruta_imagen" [src]="event.ruta_imagen" alt="Imagen del evento" />
        </ion-card-content>
    </ion-card>

    <!-- Si no se encuentra el evento, mostrar mensaje -->
    <ion-card *ngIf="!event.titulo">
        <ion-card-header>
            <ion-card-title>Evento no encontrado</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Lo sentimos, no pudimos encontrar este evento.</p>
        </ion-card-content>
    </ion-card>
</ion-content>
